body {
    background-color: azure;
    text-align: justify;
}

div.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #310c0c;
}

div.nav li {
    float: left;
}

div.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.nav li a:hover:not(.active) {
    background-color: #251c52;
}

.active {
    background-color: #04AA6D;
}

h1 {
  color: blueviolet;
}

h2 {
  color: cornflowerblue;
}